<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goodbad"
    android:versionCode="1"
    android:versionName="3.3.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />


   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 

    <application
        android:name="com.example.goodbad.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme" >
        <activity
            android:name="com.example.goodbad.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.goodbad.StoryLineViewActivity"
            android:label="@string/title_activity_story_line_view" >
        </activity>
        <activity
            android:name="com.example.goodbad.PopUpActivity"
            android:label="@string/title_activity_pop_up" >
        </activity>
    </application>

</manifest>
